<div class="container">
    <div class="row">   
      <div class="col-sm">
        <form>
            <h3>Agregar Patología</h3>
            <div class="form-group">
              <label for="pathologyName">Nombre de la patología</label>
              <input class="form-control" id="pathologyName" placeholder="Nombre">
              
            </div>
            <div class="form-group">
              <label for="description">Descripción</label>
              <input  class="form-control" id="description">
            </div>
           
            <!--   Hay que quitarle lo dinamico
              <select multiple class="form-control" id="symptoms" >
                <option *ngFor="let item of symptoms">
                {{item}}
                </option>
            </select> -->


            <div class="form-group">
              <label for="symptoms">Síntomas</label>
              <input  class="form-control" id="symptoms">
            </div>


            <div class="form-group">
                <label for="tratamiento">Tratamiento</label>
                <input  class="form-control" id="treatment">
            </div>

          </form>
      </div>
      <div class="col-sm">
      </div>

    </div>
  </div>
