<div class="container">
    <div class="row">   
      <div class="col-sm">
        <form>
            <h3>Agregar Patología</h3>
            <div class="form-group">
              <label for="pathologyName">Nombre de la patología</label>
              <input class="form-control" id="pathologyName" aria-describedby="emailHelp">
              
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <input  class="form-control" id="descripcion">
            </div>
            <div class="form-group">
                <label for="sintomas">Sintomas</label>
                <select multiple id="symptoms" >
                  <option *ngFor="let item of symptoms">
                  {{item}}
                  </option>
              </select>
            </div>
            <div class="form-group">
                <label for="tratamiento">Tratamiento</label>
                <input  class="form-control" id="tratamiento">
            </div>
          </form>
      </div>
      <div class="col-sm">
      </div>

    </div>
  </div>
