<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    Perro1
  </h5>
  <nav class="my-2 my-md-0 mr-md-3 navBar">

    <div class="row">
    <div class="dropdown extra">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administracion
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" routerLink="/regions">Gestion de Regiones</button>
        <button class="dropdown-item" type="button" routerLink="/pathologies">Gestion de Patologias</button>
        <button class="dropdown-item" type="button" routerLink="/patientState">Gestion de Estados de Pacientes</button>
        <button class="dropdown-item" type="button" routerLink="/hospitalCenter">Gestion de Centros Hospitalarios</button>
      </div>
    </div>

    <div class="dropdown extra">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Centro hospitalario
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/patient">Gestión de Paciente</a>
        <a class="dropdown-item" routerLink="/recentContacts">Gestión de Ultimos Contactos por Paciente</a>
        <a class="dropdown-item" routerLink="/reports">Reportes</a>
      </div>
    </div>
  </div>
  </nav>
  
  
  <a class="btn btn-primary btn-register" [routerLink]="'/register'">Sign up</a>
  <a class="btn btn-outline-secondary btn-register" [routerLink]="'/login'">Login</a>

</div>
 