<div class="container">
    <div class="row">   
      <div class="col-sm">
        <form>
            <div class="form-group">
              <label for="name">Nombre del paciente</label>
              <input class="form-control" id="name" >
            </div>

            <div class="form-group">
                <label for="apellidos">Apellidos del paciente</label>
                <input class="form-control" id="apellidos" >
            </div>

            <div class="form-group">
                <label for="id">Número de identificación</label>
                <input class="form-control" id="id" >
            </div>  
            
            <div class="form-group">
                <label for="edad">Edad</label>
                <input class="form-control" id="edad" >
                
            </div>

            <!-- nacionalidad -->
            
            <div class="form-group">
                <label for="id">Dirección</label>
                <input class="form-control" id="id" >
            </div>


            
            <!-- pathologies -->     
            
            <div class="form-group">
                <label for="id">Correo Electrónico</label>
                <input type="email" class="form-control" id="id" >
            </div>

          

        </form>
      </div>
      <div class="col-sm">
       
      </div>

    </div>
  </div>
