
<div id="content" #content>

    <h3>Patologías</h3>
    <table class="table">
       <thead>
          <tr>
             <th scope="col">Nombre</th>
             <th scope="col">Apellido</th>
             <th scope="col">Nº Identificación</th>
             <th scope="col">Edad</th>
             <th scope="col">Nacionalidad</th>
             <th scope="col">Dirección</th>
             <th scope="col">Patologías</th>
             <th scope="col">email</th>
          </tr>
       </thead>
       <tbody>
  
          <tr *ngFor="let item of contacts">
             <th scope="row">{{ item.name }}</th>
             <td>{{ item.lastName }}</td>
             <td>{{ item.id }}</td>
             <td>{{ item.age }}</td>
             <td>{{ item.nationality }}</td>
             <td>{{ item.address }}</td>
             <td>{{ item.pathology }}</td>
             <td>{{ item.email }}</td>
  
          </tr>
       </tbody>
    </table>
    <button class="btn btn-dark" routerLink="/createContact">Agregar Contacto</button>
  </div>
