.text{
  color:white;
}

.h3{
  text-align: center;
  color: #20FC8F;
}

.h5{
  text-align: center;
  color: #20FC8F;
}

.back{
  color: white;
  background-color: #3F5E5A;
}

.header{
  text-align: center;
  background-color: #38423B;
  color: #20FC8F;
}

