
<div class="container">
    <div class="row">   
      <div class="col-sm">
        <div id="content" #content>

          <h3>Estados de pacientes</h3>
          <table class="table ">
             <thead>
                <tr>
                   <th scope="col">Estado</th>
                </tr>
             </thead>
             <tbody>
        
                <tr *ngFor="let item of states">
                   <th scope="row">{{ item.state }}</th>
                </tr>
             </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm">
        <form>
          <h3>Agregar Estado</h3>
          <div class="form-group">
            <label for="state">Nuevo estado</label>
            <input class="form-control" id="state" >
          </div>
          <button class="btn btn-dark" routerLink="/patientState">Agregar</button>
      </form>
      </div>
    </div>
  </div>